<h1>API Estados</h1>

<a href="http://localhost:3000/estados.json">Estados</a><br>
<a href="http://localhost:3000/cidades.json">Cidades</a><br>
<a href="http://localhost:3000/cidades.json?uf=sp">Cidades SP</a><br>

<div style="margin-top: 50px;">
  <select id="estados" onchange="loadCapitais(this.value)">
    <h5>Estados</h5>
    <option>Selecione</option>
  </select>
</div>

<div style="margin-top: 50px;">
  <select id="cidades"> 
    <h5>Cidades</h5>
    <option>Selecione</option>
  </select>
</div>

<h1>Lista de Carros</h1>
  <fieldset id="formCarro">
    <legend>Carro:</legend>
    Nome: <input type="text" id="nome"><br>
    Ano: <input type="number" id="ano"><br>
    Modelo: <input type="text" id="modelo"><br>
    <button onclick="SarvarFormCarros()">Salvar</button>
</fieldset>


<table class="table" id="tableCarros">
  <thead>
    <tr>
      <td>nome</td>
      <td>ano</td>
      <td>modelo</td>
    </tr>
  </thead>
    <tbody>
    </tbody>
</table>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript">
  var loadEstados = function(){
      $.ajax({
        url: "http://localhost:3000/estados.json" 
        /* Fazendo requisição ajaxa a API de estados-via proxy: "http://localhost:3000/estados-proxy.json"" */   
      }).done(function(dados) { /*função dados mapeia os dados da api estados em json */
        $("#estados").html("<option>Selecione</option>")
        $(dados).each(function(){ /* fazendo um each dos dados de estados em jquery */
          $("#estados").append("<option value='"+ this.uf +"'>"+ this.nome +"</option>")
        });
      });
  }
    var loadCapitais = function(uf){
        $.ajax({
          url: "http://localhost:3000/cidades.json?uf="+ uf /* Fazendo requisição ajaxa a API de cidades por UF */
        }).done(function(dados) { /*função dados mapeia os dados da api estados em json */
          $("#cidades").html("<option>Selecione</option>")
          $(dados).each(function(){ /* fazendo um each dos dados de estados em jquery */
            $("#cidades").append("<option value='"+ this.uf +"'>"+ this.nome +"</option>")
          });
        });
    }

    loadEstados();

    var loadCarros = function(){
      $("input").val("");
        $.ajax({
          url: "http://localhost:3000/carros.json" /* Fazendo requisição ajaxa a API de CARROS */
        }).done(function(carros) { /*função dados mapeia os dados da api carros em json */
          $(carros).each(function(){ /* fazendo um each dos dados de carros em jquery */
            $("#tableCarros tbody").append("<tr><td>"+ this.nome +"</td><td>"+ this.ano +"</td><td>"+ this.modelo +"</td></tr>")
          });
        });
    }
    loadCarros();

    var SarvarFormCarros = function (){
      dados = {
        carro:{
        nome: $("#nome").val(),
        ano: $("#ano").val(),
        modelo: $("#modelo").val()
        }
      }
      $.post({ 
          url: "http://localhost:3000/carros.json",
          data: dados
        }).done(function(carros) { 
          loadCarros();
        }).fail(function() { 
          alert("Erro ao cadastrar carros");
        });

    }

    
    
  </script>
